# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/          # <-- added

# OS
Thumbs.db
.DS_Store

# Private data
data/raw/

# Usually local outputs (optional to commit)
data/processed/

*.egg-info/
build/
dist/

# ignore all reports by default
reports/

# public demo outputs (safe to commit)
!reports_demo/          # <-- added
!reports_demo/**        # <-- added
