# Python
.venv/
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store

#Private data
data/raw/

# Usually local outputs (optional to commit)
data/processed/

*.egg-info/
build/
dist/

# ignore all reports by default
reports/


